<div>
    <div>
        <a class="btn-min mbtn-default" href="">默认按钮</a>
        <a class="btn-min sbtn-default left-24" href="">默认按钮</a>
        <a class="btn-min cbtn-default left-24" href="">默认按钮</a>
    </div>
    <div class="top-8">
        <a class="btn-min mbtn-primary" href="">主要按钮</a>
        <a class="btn-min sbtn-primary left-24" href="">主要按钮</a>
        <a class="btn-min cbtn-primary left-24" href="">主要按钮</a>
    </div>
    <div class="top-8">
        <a class="btn-min mbtn-success" href="">成功按钮</a>
        <a class="btn-min sbtn-success left-24" href="">成功按钮</a>
        <a class="btn-min cbtn-success left-24" href="">成功按钮</a>
    </div>
    <div class="top-8">
        <a class="btn-min mbtn-info" href="">信息按钮</a>
        <a class="btn-min sbtn-info left-24" href="">信息按钮</a>
        <a class="btn-min cbtn-info left-24" href="">信息按钮</a>
    </div>
    <div class="top-8">
        <a class="btn-min mbtn-warn" href="">警告按钮</a>
        <a class="btn-min sbtn-warn left-24" href="">警告按钮</a>
        <a class="btn-min cbtn-warn left-24" href="">警告按钮</a>
    </div>
    <div class="top-8">
        <a class="btn-min mbtn-error" href="">错误按钮</a>
        <a class="btn-min sbtn-error left-24" href="">错误按钮</a>
        <a class="btn-min cbtn-error left-24" href="">错误按钮</a>
    </div>

    <div class="top-8">
        <a class="mbtn-icon add" ></a>
        <a class="mbtn-icon edit" ></a>
        <a class="mbtn-icon delete" ></a>
        <a class="mbtn-icon complete" ></a>
        <a class="mbtn-icon search" ></a>
        <a class="mbtn-icon info" ></a>
        <a class="mbtn-icon fav" ></a>
    </div>
</div>