<div>
    <div>
        <input class="btn btn-min grad-btn" type="button" value="input按钮"/>
        <a class="btn btn-min grad-btn left-24" href="">a标签按钮</a>
        <button class="btn btn-min grad-btn left-24">button按钮</button>
    </div>
    <div class="top-8">
        <input class="btn btn-min blue-btn" type="button" value="input按钮"/>
        <a class="btn btn-min blue-btn left-24" href="">a标签按钮</a>
        <button class="btn btn-min blue-btn left-24">button按钮</button>
    </div>
    <div class="top-8">
        <input class="btn btn-big grad-btn" type="button" value="input按钮"/>
        <a class="btn btn-big grad-btn left-24" href="">a标签按钮</a>
        <button class="btn btn-big grad-btn left-24">button按钮</button>
    </div>
    <div class="top-8">
        <input class="btn btn-big blue-btn" type="button" value="input按钮"/>
        <a class="btn btn-big blue-btn left-24" href="">a标签按钮</a>
        <button class="btn btn-big blue-btn left-24">button按钮</button>
    </div>
    <div class="top-8">
        <a class="add-btn-min" ><img src="/img/add.png" alt=""></a>
    </div>
</div>