<div>
    <div class="top-8">
        <select class="form-control" ng-model="select1" >
            <option value="">--请选择--</option>
            <option value="all" selected>Android+iOS</option>
            <option value="android">仅Android</option>
            <option value="ios">仅iOS</option>
        </select>
    </div>
    <div class="top-8">
        <div>
            <select>
                <option value="">--请选择--</option>
                <option value="all" selected>Android+iOS</option>
                <option value="android">仅Android</option>
                <option value="ios">仅iOS</option>
            </select>
        </div>
    </div>
</div>