<div>
    <div>
      <input placeholder="搜索关键字" value="" class="form-control-min btn-width">
    </div>
    <div class="top-8">
      <input placeholder="搜索关键字" value="" class="form-control btn-width" >
    </div>
    <div class="top-8">
      <input placeholder="搜索关键字" value="" class="form-control-min required btn-width">
    </div>
    <div class="top-8">
      <input placeholder="搜索关键字" value="" class="form-control required btn-width" >
    </div>
    <div class="top-8">
      <input placeholder="搜索关键字" value="" class="form-control-min required-date btn-width">
    </div>
    <div class="top-8">
      <input placeholder="搜索关键字" value="" class="form-control required-date btn-width" >
    </div>
</div>