<div>
    <h4>媒体查询阈值标准</h4>
    <p>
        @media only screen and (min-width: 1561px){}
    </p>
    <p>
        @media only screen and (max-width: 1560px) and (min-width: 1367px){}
    </p>
    <p>
        @media only screen and (max-width: 1560px) and (min-width: 1367px){}
    </p>
    <p>
        @media only screen and (max-width: 1366px) and (min-width: 1201px){}
    </p>
    <p>
        @media only screen and (max-width: 1199px) and (min-width: 1024px){}
    </p>
    <p>
        @media only screen and (max-width: 1023px) and (min-width: 768px){}
    </p>
    <p>
        @media only screen and (max-width: 767px){}
    </p>
    <p>@media only screen and (max-width: 480px){}</p>
</div>
