<div>
    <div class="survey-table col-md-12 margin">
      <div class='report-panel-hd'>
        <div class='charts-title'>
          <div class="col-sm-12 no-padding">
            <div class='float-left'>地域分布</div>
            <div class="float-left left-8 report-help-img">
              <img id="area-chart" data-placement="bottom" ng-mouseenter="explain($event);" ng-mouseleave="hideExplain($event);" src="/analysis/img/explain.png" 
              alt="" tabindex="0" role="button" data-toggle="popover" 
              data-trigger="focus"  data-content="选定时间范围内,各指标按地域的分布情况">
            </div>
          </div>
        </div>
      </div>
      <div class='report-panel-bd '>
        <div class="left-12 pt-8">
          <div class='opera-div'>
            <div class="btn-group btn-group-sm cond-btn" role="group">
                    <button ng-repeat="item in webfields" 
                    ng-class="{'btn-cur':$index == 0}" type="button" 
                    class="btn grad-btn" ng-click="selectBtn($event)">{{item.text}}</button>
                    </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="row">
          <div id="chart" style="width:100%;height:280px"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
</div>