<div>
    <a class="btn btn-26 red-btn"  ng-click="showModal('bigModal')">大模态框</a>
    <a class="btn btn-26 red-btn"  ng-click="showModal('midModal')">中模态框</a>
    <a class="btn btn-26 red-btn"  ng-click="showModal('smallModal')">小模态框</a>
    <div class="modal fade index-top" id="bigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg"  role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel1" >拒绝理由</h4>
          </div>
          <div class="modal-body" id="modalbody">	
            <div>
              <div class='input-name'>理由:</div>
              <div class='input-value'>
                <input type="text" name='audit_reason'  ng-model="audit_reason" class='form-control'></input>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-32 red-btn" ng-click="saveMantoTeam()" >保存</button>
            <button type="button" class="btn btn-32 grad-btn" data-dismiss="modal">取消</button>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade index-top" id="midModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-md"  role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel1" >拒绝理由</h4>
          </div>
          <div class="modal-body" id="modalbody">	
            <div>
                <div class='input-name'>理由:</div>
                    <div class='input-value'>
                        <textarea type="text" name='audit_reason'  ng-model="audit_reason" class='form-control'></textarea>
                    </div>
            </div>
          </div>
          <div class="modal-footer" style="padding:24px 82px 34px 82px">
            <button type="button" class="btn btn-26 red-btn " ng-click="saveMantoTeam()" >保存</button>
            <button type="button" class="btn btn-26 grad-btn " data-dismiss="modal">取消</button>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="modal fade index-top" id="smallModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm"  role="document">
        <div class="modal-content ">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel1" >拒绝理由</h4>
          </div>
          <div class="modal-body" id="modalbody">	
            <div>
              <div class='input-name'>理由:</div>
              <div class='input-value'>
                <input type="text" name='audit_reason'  ng-model="audit_reason" class='form-control'></input>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="padding:24px 46px 34px 46px">
            <button type="button" class="btn btn-26 red-btn" ng-click="saveMantoTeam()" >保存</button>
            <button  type="button" class="btn btn-26 grad-btn" data-dismiss="modal">取消</button>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
</div>