<body>
    <div id="bar">
        <div id="content">
            <ul>
                <li>111</li>
                <li>222</li>
                <li>333</li>
                <li>444</li>
                <li>555</li>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript">
    document.getElementById("bar").scrollTop = document.getElementById("bar").clientHeight;//让滚动条默认滚动底部
// document.getElementById("bar").scrollLeft = document.getElementById("bar").clientWidth;//让滚动条默认滚动最右
</script>