<div class="form-group row">
  <!-- 地域选择 BEGIN -->
  <div class="col-sm-2"><div class="title">地域 : </div></div>
  <div class="col-sm-10">
    <div class="fyn-tabs">
      <div class="nav">
        <div class="nav-tabs area-type" ng-class="{'active':planInfo.area_type==0,'tabs-hide':planInfo.area_type==0}" 
         ng-click="planInfo.area_type=0">不限制</div>
        <div class="nav-tabs area-type" ng-class="{'active':planInfo.area_type==1}" 
         ng-click="planInfo.area_type=1">按省</div>
      </div>
      <div class="tab-content" ng-class="{'hide-con':planInfo.area_type==0}">
        <div class="select-main" ng-show="planInfo.area_type==1">
          <div class="area-box" ng-mouseleave="hidecitys($event)"> 
            <div class="check-item">
              <input type="checkbox" ng-model="planInfo.area_is_all" ng-click="selectAll('area')">
              <span>全选</span>
            </div>
            <div class="check-item" ng-repeat="item in locations" ng-mouseover="showcitys($event)" >
              <input ng-mouseover="shownext($event)" type="checkbox" ng-model="item.ischeck" ng-click="selectThis('area',item)"/>
              <span ng-mouseover="shownext($event)" >{{item.name}}</span>
              <div class="area-citys" ng-mouseover="showown($event)">
                <div class="city-item" ng-repeat="one in item.child">
                  <input type="checkbox" ng-model="one.ischeck" ng-click="selectSubThis('area',item)"/>
                  <span>{{one.name}}</span>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="on-checkbox" ng-if="selectArray.area.length>0">
            <div class="on-title">已选 : </div>
            <div class="on-content">
              <span ng-repeat="sel in selectArray.area">{{sel.name}}<span ng-hide="$last"> , </span></span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="oper-group" ng-if="planInfo.area_type!=0">
          <a href="" class="btn red-btn btn-26">保存</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 地域选择 END -->

<!-- 性别选择 BEGIN -->
<div class="form-group row">
  <div class="col-sm-2"><div class="title">性别 : </div></div>
  <div class="col-sm-10" style="margin-top:12px">
    <span class="ad-labels" ng-class="{'active':planInfo.sex_type==0}" 
    ng-click="planInfo.sex_type=0">不限制</span>
    <span class="ad-labels" ng-class="{'active':planInfo.sex_type==1}" 
    ng-click="planInfo.sex_type=1">男</span>
    <span class="ad-labels" ng-class="{'active':planInfo.sex_type==2}"
    ng-click="planInfo.sex_type=2">女</span>
  </div>
</div>
<!-- 性别选择 END -->

<!-- 年龄选择 BEGIN -->
<div class="form-group row">
  <div class="col-sm-2"><div class="title">年龄 : </div></div>
  <div class="col-sm-10">
    <div class="fyn-tabs">
      <div class="nav">
        <div class="nav-tabs area-type" ng-class="{'active':planInfo.age_type==0,'tabs-hide':planInfo.age_type==0}" 
         ng-click="planInfo.age_type=0">不限制</div>
        <div class="nav-tabs area-type" ng-class="{'active':planInfo.age_type==1}" 
         ng-click="planInfo.age_type=1">年龄段</div>
      </div>
      <div class="tab-content" ng-class="{'hide-con':planInfo.age_type==0}">
        <div class="select-main" ng-show="planInfo.age_type==1">
          <div class="area-box">
            <div class="check-item" style="width:33%" ng-repeat="item in age_periods" >
              <input type="checkbox" ng-model="item.ischeck" ng-click="selectThis('age',item)"/>
              <span>{{item.name}}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="oper-group">
            <a href="" class="btn red-btn btn-26">保存</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 年龄选择 END -->

<!-- 兴趣选择 BEGIN -->
<div class="form-group row">
  <div class="col-sm-2"><div class="title">兴趣 : </div></div>
  <div class="col-sm-10">
    <div class="fyn-tabs">
      <div class="nav">
        <div class="nav-tabs area-type"  ng-class="{'active':planInfo.fav_type==0,'tabs-hide':planInfo.fav_type==0}" 
         ng-click="planInfo.fav_type=0">不限制</div>
        <div class="nav-tabs area-type" ng-class="{'active':planInfo.fav_type==1}" 
         ng-click="planInfo.fav_type=1">按兴趣分类</div>
      </div>
      <div class="tab-content" ng-class="{'hide-con':planInfo.fav_type==0}">
        <div class="select-main" ng-show="planInfo.fav_type==1">
          <div class="area-box">
            <div class="check-item" style="width:16%">
              <input type="checkbox" ng-model="planInfo.fav_is_all" ng-click="selectAll('fav')">
              <span>全选</span>
            </div>
            <div class="check-item" style="width:16%" ng-repeat="item in fav_list" >
              <input type="checkbox" ng-model="item.ischeck" ng-click="selectThis('fav',item)"/>
              <span>{{item.name}}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="on-checkbox" ng-if="selectArray.fav.length>0">
            <div class="on-title">已选 : </div>
            <div class="on-content">
              <span ng-repeat="sel in selectArray.fav">{{sel.name}}<span ng-hide="$last"> , </span></span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="oper-group" ng-show="planInfo.fav_type==1">
          <a href="" class="btn red-btn btn-26">保存</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 兴趣选择 EDN -->

<!-- 平台选择 BEGIN -->
<div class="form-group row">
  <div class="col-sm-2"><div class="title">平台 : </div></div>
  <div class="col-sm-10" style="margin-top:12px">
    <span class="ad-labels" ng-class="{'active':planInfo.platform==0}" 
    ng-click="planInfo.platform=0">不限制</span>
    <span class="ad-labels" ng-class="{'active':planInfo.platform==1}" 
    ng-click="planInfo.platform=1">IOS</span>
    <span class="ad-labels" ng-class="{'active':planInfo.platform==2}"
    ng-click="planInfo.platform=2">Android</span>
  </div>
</div>
<!-- 平台选择 END -->

<!-- App定向选择 BEGIN -->
<div class="form-group row">
  <div class="col-sm-2"><div class="title">App定向 : </div></div>
  <div class="col-sm-10">
    <div class="fyn-tabs">
      <div class="nav">
        <div class="nav-tabs" style="width:33%" ng-class="{'active':planInfo.app_directional==0,'tabs-hide':planInfo.app_directional==0}" 
         ng-click="planInfo.app_directional=0">不限制</div>
        <div class="nav-tabs" style="width:34%" ng-class="{'active':planInfo.app_directional==1}" 
         ng-click="planInfo.app_directional=1">按分类</div>
        <div class="nav-tabs" style="width:33%" ng-class="{'active':planInfo.app_directional==2}" 
         ng-click="planInfo.app_directional=2">按APP</div>
      </div>
      <div class="tab-content" ng-class="{'hide-con':planInfo.app_directional==0}">
        <div class="select-main" ng-show="planInfo.app_directional==1">
          <div class="area-box" ng-mouseleave="hidecitys($event)"> <!--  -->
            <div class="check-item">
              <input type="checkbox" ng-model="planInfo.cate_is_all" ng-click="selectAll('cate')">
              <span>全选</span>
            </div>
            <div class="check-item" ng-repeat="item in cate_list" ng-mouseover="showcitys($event)" >
              <input ng-mouseover="shownext($event)" type="checkbox" ng-model="item.ischeck" ng-click="selectThis('cate',item)"/>
              <span ng-mouseover="shownext($event)" >{{item.name}}</span>
              <div class="area-citys" ng-mouseover="showown($event)">
                <div class="city-item" ng-repeat="one in item.child">
                  <input type="checkbox" ng-model="one.ischeck" ng-click="selectSubThis('cate',item)"/>
                  <span>{{one.name}}</span>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="on-checkbox" ng-if="selectArray.cate.length>0">
            <div class="on-title">已选 : </div>
            <div class="on-content">
              <span ng-repeat="sel in selectArray.cate">{{sel.name}}<span ng-hide="$last"> , </span></span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="select-main" ng-show="planInfo.app_directional==2">
          <div class="area-box">
            <div class="check-item" style="width:20%">
              <input type="checkbox" ng-model="planInfo.app_is_all" ng-click="selectAll('app')">
              <span>全选</span>
            </div>
            <div class="check-item" style="width:20%" ng-repeat="item in app_list" >
              <input type="checkbox" ng-model="item.ischeck" ng-click="selectThis('app',item)"/>
              <span>{{item.name}}</span>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="on-checkbox" ng-if="selectArray.app.length>0">
            <div class="on-title">已选 : </div>
            <div class="on-content">
              <span ng-repeat="sel in selectArray.app">{{sel.name}}<span ng-hide="$last"> , </span></span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="oper-group" ng-show="planInfo.app_directional!=0">
          <a href="" class="btn red-btn btn-26">保存</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- App定向选择 BEGIN -->