<div class="tab-group-buttons" role="group">
    <button ng-class="{'active':current_tab == 0}" type="button" class="item" ng-click="current_tab = 0">常用</button>
    <button ng-class="{'active':current_tab == 1}" type="button" class="item" ng-click="current_tab = 1">最近使用</button>
    <button ng-class="{'active':current_tab == 2}" type="button" class="item" ng-click="current_tab = 2">相对时间</button>
</div>
<div class="tab-group-content">
    <div ng-show="current_tab == 0">常用</div>
    <div ng-show="current_tab == 1">最近使用</div>
    <div ng-show="current_tab == 2">相对时间</div>
</div>