<div>
    <div class="left-nav">
        <div id="firstpane" class="menu_list">
            <div id='report{{$index}}' class="menu_nav" ng-repeat="item in menus">
                <h3 class="menu_head report-omit " title="{{item.name}}" ng-click="clickFirstMenu($index,item.sign)">
                    <div class='icon'>
                        <img ng-src="{{item.imgpath}}">
                    </div>
                    <a class='text'>{{item.name}}
            <img class='icon-down' src="/img/nav/down.png" >
          </a>
                </h3>
                <div class="menu_body" ng-class="{'show':item.sign==select}">
                    <div ng-repeat="subitem in item.subs" ng-class="{'report-select':subitem.sign==currep}">
                        <a class='menu_child' href="#{{subitem.sign}}">
                            <div class='text pointer' title="{{subitem.name}}">{{subitem.name}}</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>