.mb_box{
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    background-color: #000000;
    top: 0px;
    left: 0px;
    opacity: 0.6;
}
.mb_con{
    z-index: 999999;
    position: fixed;
    background-color: white;
    border-radius: 2px;
    min-width:400px;
}
.alert_icon{
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
    margin-left: 18px;
    margin-right: 12px;
}
.alert_icon:before{
    content: '';
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0;
    top: 0;
    background-image: url(/img/icons.png);
    background-size: 802px;
}
.alert_icon.success:before{
    background-position: -1px -68px;
}
.alert_icon.error:before{
    background-position: -115px -68px;
}
.alert_icon.message:before{
    background-position: -41px -68px;
}
.alert_icon.warnning:before{
    background-position: -78px -68px;
}
.alert_icon.none{
    width: 0;
    height: 0;
}
.alert_icon.none:before{
    width: 0;
    height: 0;
}
.alert_msg{
    margin-top: 40px;
}
.alert_mb_tit{
    display: block;
    font-size: 14px;
    color: #444;
    padding-left: 24px;
    padding-right: 20px;
    background-color: #fff;
    font-weight: bold;
}
.alert_mb_msg{
    padding: 8px 20px 0px 24px;
    line-height: 20px;
    font-size: 14px;
}
.confirm_close{
    position: relative;
    width: 16px;
    float: right;
    right: 14px;
    top: 14px;
    cursor: pointer;
}
.confirm_close:before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    background-size: 802px;
    background-image: url(/img/icons.png);
    background-position: -207px 0;
}

.confirm_mb_msg{
    padding: 15px 20px;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
}
.mb_btnbox{
    margin: 30px 0px 30px;
    text-align: center;
}
.mb_btn_ok{
    z-index: 9;
    color: #ffffff;
    border-radius: 4px;
    background: #409eff;
    border: solid 2px #409eff;
    line-height:28px;
    height:32px;
    padding:0 16px;
    vertical-align:middle;
    font-size: 14px;
    margin-right:15px;
}

.mb_btn_no{
    z-index: 9;
    color: #409eff;
    border-radius: 4px;
    background: #fff;
    border: solid 2px #409eff;
    line-height:28px;
    height:32px;
    padding:0 16px;
    vertical-align:middle;
    font-size: 14px;
    margin-left:15px;
}