.left-nav{
  width: 240px;
  border: solid 1px #cdcdcd;
}
.menu_list {
    width: 100%;
    padding-left: 0;
    margin: 0 auto;
    text-align:left
}
.menu_nav{
  padding: 0 ;
  border-bottom: 1px dashed #e6e6e6;
  background: #fff;
}
.menu_list .menu_head{
  color: #444;
  font-size: 16px;
  line-height: 36px;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.menu_list .menu_head a{
  color: #444;
}
.menu_list .icon-down{
  float: right;
  padding-right: 24px;
  margin-top: 13px;
  position: relative;
  opacity: 1;
}
.menu_list .icon-down:before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 10px;
  background-image: url(/img/icons.png);
  background-size: 802px;
}
.menu_list .icon-down.open:before{
  background-position: -162px 0;
}
.menu_list .icon-down.close:before{
  background-position: -162px -9px;
}
.icon{
  float: left;
  padding-right: 12px;
  height: 18px;
  padding-left: 13px;
}


.menu_body{
  background: #fff;
  display:none;
  z-index:90;
  padding: 8px 0;
}
.menu_body.show{
  display: block;
}
.menu_body .select a{
  color: #409eff;
}
.menu_body .menu_child{
  font-size: 16px;
  padding: 8px 0;
  color: #888888;
  display: block;
  padding-left: 48px;
  font-size: 14px;
}