.monitor{
  width: 149px;
  height: 20px;
  border: solid 1px #cdcdcd;
  margin: 16px 0;
  color: #757575;
  font-size: 12px;
  line-height: 20px;
}
.monitor .block{
  float: left;
  width: 49px;
  text-align: center;
  height: 18px;
}
.monitor .weak{
  border-right: solid 1px #cdcdcd;
}
.monitor .medium{
  border-right: solid 1px #cdcdcd;
}
.monitor .weak.on{
  background: #f95759;
  color: #fff;
  border-right: none;
}
.monitor .medium.on{
  color: #fff;
  background: #ffea00;
  border-right: none;
}
.monitor .strong.on{
  color: #fff;
  background: #4ed654;
}